<!-- partial-lobby-roomList.html -->


<input type="text" name="newRoom" ng-model="newRoom" required>
<button type="button" ng-click="createRoom(newRoom)">Create room</button>

		<!--button type="button" value="Create room" ng-click="addRoom()"></button-->
<!--button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With Template</button-->
<ul>
    <!--a ui-sref="chatroom({ChatroomName: name})" class="btn btn-danger" ng-repeat="(name, room) in rooms"> {{name}} </a><br/-->
    <a class="btn btn-danger" ng-repeat="(name, room) in rooms" ng-click="createRoom(name)"> {{name}} </a><br/>
</ul>