<!-- partial-lobby-roomList.html -->

<!--input type="text" name="newRoom" ng-model="newRoom" required>
<button type="button" ng-click="createRoom(newRoom)">Create room</button-->

<button uib-popover-template="'/lobby/partial-create-room.html'" popover-title="Create New Room" popover-trigger="outsideClick" type="button" class="btn btn-default">Create new Room</button>
<ul>
    <a ui-sref="chatroom({ChatroomName: name})" class="btn btn-danger" ng-repeat="(name, room) in rooms"> {{name}} </a><br/>
</ul>