<h1>#{{chatroomName}} <small>{{chatroomTopic}}</small></h1>
<ul id="chatspace" class="list-unstyled" scroll-glue>
	<li ng-repeat="(key, value) in msgHistory"><span class="timestamp">[{{value['timestamp'] | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}]</span><span class="nick">{{value['nick']}}:</span> {{value['message']}}</li>
</ul>
<form name="message">
	<div class="input-group">
	    <input type="text" class="form-control" name="chatMessage" ng-model="chatMsg" placeholder="Type...">
	    <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="sendMessage(chatMsg)">Send</button>
	      </span>
	</div>
</form>