<h1>This is the chat area!</h1>

<!--uib-tabset>
	<uib-tab heading="Static-heading">Static content</uib-tab>
	<uib-tab heading="Static heading 2">Static conteen</uib-tab>
</uib-tabset-->
<h2>{{chatroomName}}</h2>
<h3>{{chatroomTopic}}</h3>
<ul id="chatspace" class="list-unstyled" scroll-glue>
	<li ng-repeat="(key, value) in msgHistory"><span class="timestamp">[{{value['timestamp'] | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}]</span><span class="nick">{{value['nick']}}:</span> {{value['message']}}</li>
</ul>
<form name="message">
	<input type="text" name="chatMessage" ng-model="chatMsg">
	<button type="button" ng-click="sendMessage(chatMsg)">Send</button>
</form>