<h1><span class="label label-default">{{chatroomTopic}}</span></h1>
<ul class="chatspace" class="list-unstyled" scroll-glue>
	<li ng-repeat="(key, value) in msgHistory"><span class="timestamp">[{{value['timestamp'] | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}]</span><span ng-class="value['nick'] === nick ? 'me' : 'nick'">{{value['nick']}}:</span> <span ng-class="highlight(value['message'])">{{value['message']}}</span></li>
</ul>
<form name="message">
	<div class="input-group">
	    <input type="text" class="form-control" name="chatMessage" ng-model="chatMsg" placeholder="Type..." autofocus="autofocus" autocomplete="off">
	    <span class="input-group-btn">
	        <button class="btn btn-default" ng-click="sendMessage(chatMsg)">Send</button>
	      </span>
	</div>
</form>